# Creado por https://www.gitignore.io/api/python,virtualenv
# Edite en https://www.gitignore.io/?templates=python,virtualenv

# ## Python ###
# Archivos DLL / optimizados / compilados por bytes
__pycache__ /
* .py [ bacalao ]
* $ py.class

# Extensiones C
* .so

# Distribución / envasado
.Pitón
construir /
desarrollar-huevos /
dist /
descargas /
huevos /
.huevos /
lib /
lib64 /
partes /
sdist /
var /
ruedas /
pip-wheel-metadata /
compartir / python-wheels /
* .egg-info /
.instalado.cfg
* .huevo
MANIFIESTO

# PyInstaller
#   Por lo general, estos archivos se escriben mediante un script de Python a partir de una plantilla
#   antes de que PyInstaller compile el exe, para inyectar la fecha / otra información en él.
* .manifest
* .spec

# Registros del instalador
pip-log.txt
pip-eliminar-este-directorio.txt

# Informes de cobertura / prueba unitaria
htmlcov /
.tox /
.nox /
.cobertura
.cobertura. *
.cache
nosetests.xml
cobertura.xml
* .cover
.hipótesis /
.pytest_cache /

# Traducciones
* .mo
* .pot

# Cosas scrapy:
.scrapy

# Documentación de Sphinx
docs / _build /

# PyBuilder
objetivo /

# pyenv
.python-versión

# pipenv
#    Según pypa / pipenv # 598, se recomienda incluir Pipfile.lock en el control de versiones.
#    Sin embargo, en caso de colaboración, si tiene dependencias o dependencias específicas de la plataforma
#    al no tener soporte multiplataforma, pipenv puede instalar dependencias que no funcionan o no
#    instalar todas las dependencias necesarias.
# Pipfile.lock

# archivo de programación de ritmo de apio
horario de apio

# Archivos analizados por SageMath
* .sage.py

# Configuración del proyecto Spyder
.spyderproject
.spyproject

# Configuración del proyecto de cuerda
.ropeproject

# Sr. Desarrollador
.mr.developer.cfg
.proyecto
.pydevproject

# documentación de mkdocs
/ sitio

# mypy
.mypy_caché /
.dmypy.json
dmypy.json

# Comprobador de tipo pira
.pyre /

# ## VirtualEnv ###
# Virtualenv
# http://iamzed.com/2009/05/07/a-primer-on-virtualenv/
pyvenv.cfg
.env
.venv
env /
venv /
ENV /
env.bak /
venv.bak /
pip-selfcheck.json
Incluir
Lib
Guiones

# Fin de https://www.gitignore.io/api/python,virtualenv
